output/*
minishell
minishell_bonus
*.o
*.out
*.a
.vscode
.DS_Store
a.out
*.dSYM
*.swp
*.txt
test/*
test.c
test_parsing
test_ast
test_env
*.gch
$HOME
$HOM"E"
$USER
$USER'$USER'
*.log
mstest*
echo
out2.txtcat
out2.txt$
tmp_err_bash
tmp_err_minishell
tmp_out_minishell
tmp_out_minishell
tmp_out_bash
.heredoc_tmp
out2.txt$
out2.txtcat